        <div id="footer">
            <p>Adworx Advertising &amp; Media Planning &copy; 2009 | All Rights Reserved</p>
            <a href="index.html">Home</a> | 
            <a href="tips.html">Tips &amp; Tricks</a> | 
            <a href="links.html">Links</a> | 
            <a href="contact.html">Contact</a> |  
            <a href="#top">Top of Page</a>
        </div>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-5442170-1");
        pageTracker._trackPageview();
    } catch(err) {}
    </script>

    </body>
</html>
