<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Media Planning & advertising solutions from Adworx</title>

    <meta name="description" content="Adworx Advertising and Media Planners offer advertising strategies for NZ businesses including television, newspaper, radio, magazine, web & outdoor advertising." />
    <meta name="keywords" content="advertising, services, buying, media, planning, strategy, reaching, customers, ads" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <link rel="stylesheet" type="text/css" href="rtbstyle.css" />
</head>

<body>
<a name="top"></a>
<div id="wrapper">
<div id="logo">
	<img alt="home" src="images/buttons/icon-home.jpg" />&nbsp;<a href="index.htm">Home</a>&nbsp;&nbsp;
	<img alt="faqs" src="images/buttons/icon-faq.jpg" />&nbsp;<a href="tips.htm">Tips & Tricks</a>&nbsp;&nbsp;
	<img alt="policies" src="images/buttons/icon-policies.jpg" />&nbsp;<a href="links.htm">Links</a>&nbsp;&nbsp;
	<img alt="contact" src="images/buttons/icon-contact.jpg" />&nbsp;<a href="contact.htm">Contact</a>&nbsp;&nbsp;
	
</div>
<div id="mainnavigation">
	 <ul>
		<li><a href="index.htm">Home</a></li>
		<li><a href="services.htm">Services & Solutions</a></li>
		<li><a href="aboutus.htm">About Us</a></li>
		<li><a href="testimonials.htm">Testimonials</a></li>
		<li><a href="portfolio.htm">Portfolio</a></li>
		<li><a href="contact.htm">Contact Us</a></li>
		</ul>
</div>
<div id="mainimage">
<!-- #BeginEditable "mainimage" -->
<p><strong>{{ page.head }}</strong></p>
<p>{{ page.subhead }}</p>
<!-- #EndEditable -->
</div>
<div id="shadow">
  <img alt="" src="images/topshadow.jpg" width="900" height="20" />
</div>
<div id="content">
